<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../css/adminDashboard.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./favcon.png">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <title>BrightMate Library</title>
</head>

<body>
    <main>
        <div class="d-flex flex-column min-vh-100 flex-shrink-0 p-2 text-white bg-dark" style="width: 230px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Admin Portal</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" onclick="home()" class="nav-link active" aria-current="page">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" onclick="bookList()" class="nav-link text-white">
                        Books
                    </a>
                </li>
                <li>
                    <a href="#" onclick="authorList()" class="nav-link text-white">
                        Authors
                    </a>
                </li>
                <li>
                    <a href="#" onclick="publisherList()" class="nav-link text-white">
                        Publishers
                    </a>
                </li>
                <li>
                    <a href="#" onclick="rentalHistoryList()" class="nav-link text-white">
                        Rental History
                    </a>
                </li>
                <li>
                    <a href="#" onclick="feeList()" class="nav-link text-white">
                        Dues
                    </a>
                </li>
                <li>
                    <a href="#" onclick="employeeList()" class="nav-link text-white">
                        Employees
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
                    <strong id="admin_name"></strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <!-- <li><a class="dropdown-item" href="#">New project...</a></li> -->
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a onclick="logout()" class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
        <div class="p-3" id="mainContents" style="width: 100%;">
        </div>
    </main>
    <div class="modal lg fade" id="editBookModal" tabindex="-1" aria-labelledby="editBookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBookModalLabel">Edit Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" id="book_id" value="">
                                <label for="title" class="col-form-label">Title:</label>
                                <input disabled type="text" class="form-control" id="title">
                            </div>
                            <div class="col-md-6">
                                <label for="authors" class="col-form-label">Authors:</label>
                                <input disabled type="text" class="form-control" id="authors">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="year" class="col-form-label">Year of Publication:</label>
                                <input type="number" class="form-control" id="year">
                            </div>
                            <div class="col-md-6">
                                <label for="publisher" class="col-form-label">Publisher:</label>
                                <select onchange="showPublisherList(this.value)" id="publisher" class="form-control"
                                    aria-label="Others">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="isbn" class="col-form-label">ISBN:</label>
                                <input disabled type="text" class="form-control" id="isbn">
                            </div>
                            <div class="col-md-6">
                                <label for="language" class="col-form-label">Language:</label>
                                <input type="text" class="form-control" id="language">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="description" class="col-form-label">Description:</label>
                                <input type="textarea" class="form-control" id="description">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="genre" class="col-form-label">Genre:</label>
                                <input type="hidden" id="genrelistLength" value="">
                                <div id="genre"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="saveBookInfo()" type="button" data-bs-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal lg fade" id="editAuthorModal" tabindex="-1" aria-labelledby="editAuthorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAuthorModalLabel">Edit Author</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" id="authorId" value="">
                                <label for="authorName" class="col-form-label">Author Name:</label>
                                <input type="text" class="form-control" id="authorName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="dateOfBirth" class="col-form-label">Date Of Birth:</label>
                                <input type="date" class="form-control" id="dateOfBirth">
                            </div>
                            <div class="col-md-6">
                                <label for="dateOfDeath" class="col-form-label">Date Of Death:</label>
                                <input type="date" class="form-control" id="dateOfDeath">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="bio" class="col-form-label">Bio:</label>
                                <input type="textarea" class="form-control" id="bio">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="saveAuthorInfo()" type="button" data-bs-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal lg fade" id="editPublisherModal" tabindex="-1" aria-labelledby="editPublisherModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPublisherModalLabel">Edit Publisher</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" id="publisherId" value="">
                                <label for="publisherName" class="col-form-label">Publisher Name:</label>
                                <input type="text" class="form-control" id="publisherName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="phone" class="col-form-label">Phone:</label>
                                <input type="text" class="form-control" id="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="addressLine" class="col-form-label">Address Line:</label>
                                <input type="text" class="form-control" id="addressLine">
                            </div>
                            <div class="col-md-6">
                                <label for="city" class="col-form-label">City:</label>
                                <input type="text" class="form-control" id="city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="postalCode" class="col-form-label">Postal Code:</label>
                                <input type="text" class="form-control" id="postalCode">
                            </div>
                            <div class="col-md-6">
                                <label for="country" class="col-form-label">Country:</label>
                                <input type="text" class="form-control" id="country">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="savePublisherInfo()" type="button" data-bs-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal lg fade" id="addNewBookModal" tabindex="-1" aria-labelledby="addNewBookModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewBookModalLabel">Add A New Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="new_title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="new_title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="new_year" class="col-form-label">Year of Publication:</label>
                                <input type="number" class="form-control" id="new_year">
                            </div>
                            <div class="col-md-6">
                                <label for="new_publisher" class="col-form-label">Publisher:</label>
                                <select onchange="showPublisherList(this.value)" id="new_publisher" class="form-control"
                                    aria-label="Others">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="new_isbn" class="col-form-label">ISBN:</label>
                                <input type="text" class="form-control" id="new_isbn">
                            </div>
                            <div class="col-md-6">
                                <label for="new_language" class="col-form-label">Language:</label>
                                <input type="text" class="form-control" id="new_language">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="new_description" class="col-form-label">Description:</label>
                                <input type="textarea" class="form-control" id="new_description">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="new_genre" class="col-form-label">Genre:</label>
                                <div id="new_genre"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="new_authors" class="col-form-label">Authors:</label>
                                <div id="new_authors"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="addNewBook()" type="button" data-bs-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal lg fade" id="addBookCopiesModal" tabindex="-1" aria-labelledby="addBookCopiesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookCopiesModalLabel">Add Book Copies</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" id="c_book_id" val="">
                                <label for="copies" class="col-form-label">Copies:</label>
                                <input type="number" class="form-control" id="copies">
                            </div>
                            <div class="col-md-6">
                                <label for="edition" class="col-form-label">Edition:</label>
                                <input type="text" class="form-control" id="edition">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="addBookCopies()" type="button" data-bs-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/adminDashboard.js"></script>
</body>

</html>